/*
* CSS for wp-admin backend only
* This CSS will not load on frontend / fl builder editor screen.
*/

.uabb-reloading-iconfonts {
    -webkit-animation: cssAnimation .72s ease infinite;
    -moz-animation: cssAnimation .72s ease infinite;
    -o-animation: cssAnimation .72s ease infinite;
 }
 @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
 }
 @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(0); }
    to { -moz-transform: rotate(360deg); }
 }
 @-o-keyframes cssAnimation {
    from { -o-transform: rotate(0); }
    to { -o-transform: rotate(360deg); }
}


.uabb-help-info {
	display: block;
	width: 100%;
    background: #ddd;
    padding: 8px 15px;
    border-radius: 4px;
}


/* Tooltip Css */
.uabb-help-tooltip {
	display: inline-block;
	position: relative;
	margin-left: 8px;
	vertical-align: top;
}
.uabb-help-tooltip-icon {
	color: #999 !important;
	cursor: pointer;
	font-size: 16px !important;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.uabb-help-tooltip-text {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	display: none;
	font-weight: normal;
	left: 23px;
	padding: 10px 13px;
	position: absolute;
	top: -6px;
	width: 250px;
	z-index: 1000;
	-webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}

.uabb-help-tooltip .uabb-help-tooltip-icon:hover,
.uabb-help-tooltip:hover i {
	padding-right: 20px;
}

.uabb-help-tooltip .uabb-help-tooltip-icon:hover ~ .uabb-help-tooltip-text,
.uabb-help-tooltip-text:hover {
	display: block;
}


/*
 * Graupi License Design */

 /* Updates Available */
.uabb-license-error {
	display: block;
	padding: 10px 20px;
	background: #d54e21;
	color: #fff;
}

/* Active/ Not Active */
.uabb-heading-message span,
.active-uabb.uabb-heading-message span {
	font-style: italic;
}

/* Error Msg */
.uabb-heading-message span {
	color: #ae5842;
}

/* Button */
.button.uabb-button-space {
    margin-top: 20px;
}

/* Active Case */
.bsf-current-license-success-uabb {
	display: none;
}


/*
 * Form Submited */

/* Success Msg */
.uabb-form-submited .uabb-heading-message span {
    color: #3cb341;
}

/* Button  Space */
.uabb-form-submited .uabb-button-space {
	margin: 0;
}

.uabb-form-submited .regular-text,
.uabb-form-submited .uabb-button-space,
.uabb-form-submited .uabb-button-space:active {
	display: inline-block;
	vertical-align: middle;
}

.uabb-form-submited .regular-text {
    padding: 0;
    margin: 0;
}

.uabb-form-submited .uabb-success-message {
    border: 0;
	box-shadow: none;
    margin-right: 10px;
    width: auto;
    background: transparent;
}

.uabb-form-submited .uabb-success-message:focus {
    box-shadow: none;
}

/* Common */
div#fl-uabb-cloud-templates-form {
    max-width: 100%;
}
